@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_UILayout.cshtml";
}
@await Component.InvokeAsync("_SliderPartial")

@await Component.InvokeAsync("_DefaultAboutPartial")

@await Component.InvokeAsync("_DefaultFeaturedPartial")

@await Component.InvokeAsync("_DefaultSecureServicePartial")

@await Component.InvokeAsync("_DefaultFastestCourierPartial")

@await Component.InvokeAsync("_DefaultServicesPartial")

@await Component.InvokeAsync("_DefaultFeatureServicePartial")

@await Component.InvokeAsync("_TestimonialPartial")

<!--/w3l-newsletter-->
<section class="w3l-newsletter py-5">
	<div class="container py-sm-5">
		<div class="uphny-w3l-newsletter-inf">
			<div class="row uphny-w3l-newsletter align-items-center">
				<div class="col-lg-6 w3l-newsletter-left text-left">
					<h3 class="titlehny">Yeni ve güncel haberlerimizi kaçırmayın! Hemen abone olun!</h3>
				</div>
				@await Html.PartialAsync("/Views/Default/SubscribeMail.cshtml")
			</div>
		</div>
	</div>
</section>
<!--//w3l-newsletter-->
