<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Customer/Dashboard/Index/">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/Profile/Index/">
                <i class="mdi mdi-circle-outline menu-icon"></i>
                <span class="menu-title">Profilim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/Services/Index/">
                <i class="mdi mdi-access-point menu-icon"></i>
                <span class="menu-title">Hizmetler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/Testimonial/Index/">
                <i class="mdi mdi-emoticon menu-icon"></i>
                <span class="menu-title">Yorum Ekle</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Default/Index/">
                <i class="mdi mdi-file-document-box-outline menu-icon"></i>
                <span class="menu-title">Siteye Git</span>
            </a>
        </li>
    </ul>
</nav>
