<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Customer/Dashboard/Index/">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/Profile/Index/">
                <i class="mdi mdi-circle-outline menu-icon"></i>
                <span class="menu-title">Profilim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/ServiceRequest/NewRequest/">
                <i class="mdi mdi-access-point menu-icon"></i>
                <span class="menu-title">Yeni Hizmet Talebi Oluştur</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/ServiceRequest/MyCurrentRequest/">
                <i class="mdi mdi-access-point menu-icon"></i>
                <span class="menu-title">Mevcut Taleplerim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/ServiceRequest/MyApprovalRequest/">
                <i class="mdi mdi-access-point menu-icon"></i>
                <span class="menu-title">Onay Bekleyen Taleplerim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/ServiceRequest/MyOldRequest/">
                <i class="mdi mdi-access-point menu-icon"></i>
                <span class="menu-title">Geçmiş Taleplerim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/Message/ReceiverMessage/">
                <i class="mdi mdi-circle-outline menu-icon"></i>
                <span class="menu-title">Gelen Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/Message/SenderMessage/">
                <i class="mdi mdi-circle-outline menu-icon"></i>
                <span class="menu-title">Giden Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/Message/SendMessage/">
                <i class="mdi mdi-circle-outline menu-icon"></i>
                <span class="menu-title">Yeni Mesaj Oluştur</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/Testimonial/AddComment/">
                <i class="mdi mdi-emoticon menu-icon"></i>
                <span class="menu-title">Yorum Ekle</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Default/Index/">
                <i class="mdi mdi-file-document-box-outline menu-icon"></i>
                <span class="menu-title">Siteye Git</span>
            </a>
        </li>
    </ul>
</nav>
