<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Support/Dashboard/Index/">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Support/Profile/Index/">
                <i class="mdi mdi-circle-outline menu-icon"></i>
                <span class="menu-title">Profilim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Support/SupportMessage/ReceiverMessage/">
                <i class="mdi mdi-circle-outline menu-icon"></i>
                <span class="menu-title">Gelen Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Support/SupportMessage/SenderMessage/">
                <i class="mdi mdi-circle-outline menu-icon"></i>
                <span class="menu-title">Giden Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Support/SupportMessage/SendMessage/">
                <i class="mdi mdi-circle-outline menu-icon"></i>
                <span class="menu-title">Yeni Mesaj Oluştur</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Default/Index/">
                <i class="mdi mdi-file-document-box-outline menu-icon"></i>
                <span class="menu-title">Siteye Git</span>
            </a>
        </li>
    </ul>
</nav>
