
<section class="w3l-stats-section py-5 pt-0" id="stats">
	<div class="container py-md-5 pt-0">
		<div class="w3l-stats-inner-inf">
			<div class="row stats-con">
				<div class="col-lg-3 col-6 stats_info counter_grid">
					<p class="counter">@ViewBag.staffCount </p>
					<h3>Çalışan Sayısı</h3>
				</div>
				<div class="col-lg-3 col-6 stats_info counter_grid">
					<p class="counter">@ViewBag.serviceCount </p>
					<h3>Hizmet Sayısı</h3>
				</div>
				<div class="col-lg-3 col-6 stats_info counter_grid mt-lg-0 mt-4">
					<p class="counter">@ViewBag.testimonialsCount</p>
					<h3>Müşteri Sayısı</h3>
				</div>
				<div class="col-lg-3 col-6 stats_info counter_grid mt-lg-0 mt-4">
					<p class="counter">@ViewBag.totalVehicles</p>
					<h3>Taşıt Sayımız</h3>
				</div>

			</div>
		</div>
	</div>
</section>

