@model EntityLayer.Concrete.Vehicle

@{
    ViewData["Title"] = "VehicleDetail";
    Layout = "~/Views/Shared/_SupportLayout.cshtml";
}

<div class="col-md-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Taşıt Detayları Sayfası</h4>
			<form method="post" class="forms-sample">
				<input type="hidden" asp-for="VehicleID" />
				<div class="form-group">
					<label for="exampleInputUsername1">Taşıt Türü</label>
					<input type="text" class="form-control" id="exampleInputUsername1" asp-for="VehicleType">
				</div>
				<div class="form-group">
					<label for="exampleInputUsername1">Taşıt Markası</label>
					<input type="text" class="form-control" id="exampleInputUsername1" asp-for="VehicleBrand">
				</div>
				<div class="form-group">
					<label for="exampleInputUsername1">Taşıt Modeli</label>
					<input type="text" class="form-control" id="exampleInputUsername1" asp-for="VehicleModel">
				</div>
				<div class="form-group">
					<label for="exampleInputUsername1">Taşıt Plakası</label>
					<input type="text" class="form-control" id="exampleInputUsername1" asp-for="VehiclePlate">
				</div>
				<div class="form-group">
					<label for="exampleInputUsername1">Taşıt Kilometresi</label>
					<input type="text" class="form-control" id="exampleInputUsername1" asp-for="VehicleKm">
				</div>
				<div class="form-group">
					<label for="exampleInputUsername1">Taşıt Durumu</label>
					<input type="text" class="form-control" id="exampleInputUsername1" asp-for="VehicleStatus" readonly>
				</div>
				<button type="submit" class="btn btn-primary me-2" style="color:white">Güncelle</button>
				<button type="reset" class="btn btn-danger" style="color:white">İptal Et</button>
				<span> | </span>
				<a href="/Support/Vehicle/ChangeVehicleStatusGarage/@Model.VehicleID" class="btn btn-dark" style="color:white">Garajda</a>
				<a href="/Support/Vehicle/ChangeVehicleStatusRoad/@Model.VehicleID" class="btn btn-dark" style="color:white">Yolda</a>
				<a href="/Support/Vehicle/ChangeVehicleStatusRepair/@Model.VehicleID" class="btn btn-dark" style="color:white">Serviste</a>
				@*<button type="submit" href="/Support/Vehicle/TChangeStatusGarage/@Model.VehicleStatus" class="btn btn-dark" style="color:white">Garajda</button>
				<button type="submit" href="/Support/Vehicle/TChangeStatusGarage/@Model.VehicleStatus" class="btn btn-dark" style="color:white">Yolda</button>
				<button type="submit" href="/Support/Vehicle/TChangeStatusGarage/@Model.VehicleStatus" class="btn btn-dark" style="color:white">Serviste</button>*@
			</form>
		</div>
	</div>
</div>

