@model EntityLayer.Concrete.Service
@{
    ViewData["Title"] = "AddService";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="col-md-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Yeni Hizmet Ekleme Sayfası</h4>
			<form method="post" class="forms-sample">
				<div class="form-group">
					<label for="exampleInputUsername1">Başlık</label>
					<input type="text" class="form-control" id="exampleInputUsername1" asp-for="ServiceTitle">
				</div>
				<div class="form-group">
					<label for="exampleInputUsername1">Icon</label>
					<input type="text" class="form-control" id="exampleInputUsername1" asp-for="ServiceIcon">
				</div>
				<div class="form-group">
					<label for="exampleTextarea1">Açıklama</label>
					<textarea class="form-control" id="exampleTextarea1" rows="4" asp-for="ServiceDescription"></textarea>
				</div>
				<button type="submit" class="btn btn-primary me-2">Kaydet</button>
				<button type="reset" class="btn btn-light">İptal Et</button>
			</form>
		</div>
	</div>
</div>

