@using EntityLayer.Concrete
@model List<Question>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Soru Alanı Açıklama Listesi</h4>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Açıklama</th>
							<th>Sil</th>
							<th>Detaylar</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>@item.QuestionID</td>
								<td>@item.Content.Substring(0,100)...</td>
								<td><a href="/Member/Question/DeleteQuestionContent/@item.QuestionID" class="btn btn-danger" style="color:white">Sil</a></td>
								<td><a href="/Member/Question/ContentDetails/@item.QuestionID" class="btn btn-success" style="color:white">Detaylar</a></td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

