<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Member/Dashboard/Index/">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Member/Profile/Index/">
                <i class="mdi mdi-account-key menu-icon"></i>
                <span class="menu-title">Profilim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Member/Staff/Index/">
                <i class="mdi mdi-worker menu-icon"></i>
                <span class="menu-title">Takım Arkadaşlarımız</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Member/Services/Index/">
                <i class="mdi mdi-access-point menu-icon"></i>
                <span class="menu-title">Hizmetler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Member/FeaturedService/Index/">
                <i class="mdi mdi-access-point menu-icon"></i>
                <span class="menu-title">Alt-Hizmetler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Member/About/Index/">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Hakkımızda</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Member/About2/Index/">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Hakkımızda-Alt</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Member/ContactMessage/Index/">
                <i class="mdi mdi-contact-mail menu-icon"></i>
                <span class="menu-title">İletişim Mesajları</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Member/ContactAbout/Index/">
                <i class="mdi mdi-contact-mail menu-icon"></i>
                <span class="menu-title">İletişim Açıklama Düzenleme</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Member/Address/Index/">
                <i class="mdi mdi-map-marker-plus menu-icon"></i>
                <span class="menu-title">Adres Düzenleme</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Member/Testimonial/Index/">
                <i class="mdi mdi-comment-account menu-icon"></i>
                <span class="menu-title">Referanslar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i class="mdi mdi-comment-question-outline menu-icon"></i>
                <span class="menu-title">Sorular Alanı</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Member/Question/Index/"> Açıklama Alanı </a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Member/Question2/Index/"> Sorular Alanı </a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Member/Role/Index/">
                <i class="mdi mdi-circle-outline menu-icon"></i>
                <span class="menu-title">Roller</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Member/Role/UserList/">
                <i class="mdi mdi-account-multiple menu-icon"></i>
                <span class="menu-title">Kullanıcı Listesi(Rol)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#auth2" aria-expanded="false" aria-controls="auth2">
                <i class="mdi mdi-comment-question-outline menu-icon"></i>
                <span class="menu-title">Mesaj Alanı</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth2">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Member/Message/Inbox/"> Gelen Kutusu </a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Member/Message/Sendbox/"> Giden Kutusu </a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Member/Message/SendMessage/"> Yeni Mesaj Oluştur </a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Default/Index/">
                <i class="mdi mdi-login menu-icon"></i>
                <span class="menu-title">Siteye Git</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/Login/SignIn">
                <i class="mdi mdi-login menu-icon"></i>
                <span class="menu-title">Müşteri Paneli</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Support/Login/SignIn/">
                <i class="mdi mdi-login menu-icon"></i>
                <span class="menu-title">Support Paneli</span>
            </a>
        </li>
    </ul>
</nav>
