<footer class="w3l-footer9">
    <section class="footer-inner-main py-5">
        <div class="container py-md-4">
            <div class="right-side">
                <div class="row footer-hny-grids sub-columns">
                    <div class="col-lg-4 sub-one-left pe-lg-5">
                        <h2>
                            <a class="navbar-brand" href="index.html">
                                <i class="fas fa-truck-moving"></i> Transpolar
                            </a>
                        </h2>
                        <p class="footer-phny mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ute dolor sit.</p>
                        @*burası veritabanından çekilecek*@
                        @await Component.InvokeAsync("_FooterSocialMediaPartial")
                    </div>

                    <div class="col-lg-8 sub-two-right">
                        <div class="row">
                            <div class="col-lg-3 sub-two-right">
                                <h6>Biz Kimiz </h6>
                                <ul>
                                    <li>
                                        <a href="/About/Index">Hakkımızda</a>
                                    </li>
                                    <li>
                                        <a href="/About/Index"> Takım Arkadaşlarımız</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 sub-two-right">
                                <h6>Ne Yapıyoruz</h6>
                                <ul>
                                    <li>
                                        <a href="/Service/Index"> Depolama</a>
                                    </li>
                                    <li>
                                        <a href="/Service/Index">Hava Taşımacılığı</a>
                                    </li>
                                    <li>
                                        <a href="/Service/Index">Deniz Taşımacılığı</a>
                                    </li>
                                    <li>
                                        <a href="/Service/Index">Karayolu Taşımacılığı</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 sub-two-right">
                                <h6>Şirket</h6>
                                <ul>
                                    <li>
                                        <a href="/Contact/Index">Bize Ulaşın</a>
                                    </li>
                                    <li>
                                        <a href="/Contact/Index">Takip & İzleme</a>
                                    </li>
                                    <li>
                                        <a href="/Contact/Index"> Kariyer</a>
                                    </li>
                                    <li>
                                        <a href="/Contact/Index"> 24/7 Canlı Destek</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 sub-two-right">
                                <h6>Daha Fazla Bilgi</h6>
                                <ul>
                                    <li>
                                        <a href="/Contact/Index"> Planlama</a>
                                    </li>
                                    <li>
                                        <a href="/Contact/Index">Uzman Görüşler</a>
                                    </li>
                                    <li>
                                        <a href="/Contact/Index">İpuçları & Stratejiler</a>
                                    </li>
                                    <li>
                                        <a href="/About/Index"> S.S.S</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="below-section mt-lg-5 pt-lg-4">
                <div class="copyright-footer">
                    <p class="copyright-column">
                        © @DateTime.Now.Year Transpolar | Tüm Hakları Saklıdır | Design by <a href="https://w3layouts.com/" target="_blank">
                            W3Layouts
                        </a>
                    </p>

                    <ul class="footer-w3list text-right">
                        <li>
                            <a href="#url">Gizlilik Sözleşmesi</a>
                        </li>
                        <li>
                            <a href="#url">Şartlar &amp; Koşullar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Js scripts -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fas fa-level-up-alt" aria-hidden="true"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

    </script>
    <!-- //move top -->
</footer>
