
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<!doctype html>
<html lang="en">

<body>
    <div class="inner-banner py-5">
        <section class="w3l-breadcrumb text-left py-sm-5 ">
            <div class="container">
                <div class="w3breadcrumb-gids">
                    <div class="w3breadcrumb-left text-left">
                        <h2 class="inner-w3-title mt-lg-5 mt-4">
                            İletişim
                        </h2>

                    </div>
                    <div class="w3breadcrumb-right">
                        <ul class="breadcrumbs-custom-path">
                            <li><a href="/Default/Index/">Anasayfa</a></li>
                            <li class="active"><span class="fas fa-angle-double-right mx-2"></span> İletişim</li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>
    </div>

    <div class="w3l-contact-10 py-5" id="contact">
        <div class="form-41-mian pt-md-5 pt-3">
            <div class="container">
                <div class="row contacts-5-grid-main mb-5">
                    <div class="col-lg-6 contacts-5-grid pe-lg-5">
                        @await Component.InvokeAsync("_ContactDescriptionPartial")
                    </div>

                    @*İletişim Formu*@
                    @await Html.PartialAsync("/Views/Contact/SendMessage.cshtml")

                </div>
            </div>
        </div>
        <!-- //contacts-5-grid -->
    </div>

    @*Contact2*@
    
    @await Component.InvokeAsync("_ContactAddressPartial")

</body>

</html>