<section class="w3l-main-slider banner-slider" id="home">
    <div class="slider-info banner-view banner-top1">
        <div class="container">
            <div class="banner-info header-hero-19">
                <p class="w3hny-tag">Doğru Taşımacılık.</p>
                <h3 class="title-hero-19">Ürünlerinizi Tüm Sınırların Ötesine Taşıyoruz.</h3>
                <a href="/About/Index/" class="btn btn-style btn-primary mt-4">Daha Fazlası İçin... </a>

            </div>
        </div>
    </div>
</section>